@implements IDisposable

@inject NavigationManager NavigationManager
<div class="rz-p-sm-12">
    <RadzenMenu>
        <RadzenMenuItem Text="Home" Path="/" />
        
        <AuthorizeView>
            <Authorized>
                <RadzenMenuItem Text="Control Panel Settings" Path ="control-panel-settings" />
                <RadzenMenuItem Text="Enhance Maintenance" Path="enhance-maintenance" />
                <RadzenMenuItem Text="@context.User.Identity?.Name" Path="Account/Manage"/>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken/>
                        <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                        <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Secondary">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </RadzenButton>
                    </form>
                </div>
            </Authorized>
            
            <NotAuthorized>
                <RadzenMenuItem Text="Register" path="Account/register" />
                <RadzenMenuItem Text="Login" path="Account/login" />
            </NotAuthorized>
        </AuthorizeView>
    </RadzenMenu>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}