@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <NavMenu />
    </RadzenHeader>
    <RadzenBody>
        <main style="display: flex; justify-content: center;">
            <article class="content px-4" style="width: 100%; max-width: 1120px; justify-content: center;">
                @Body
            </article>
        </main>
    </RadzenBody>
    <RadzenFooter>
        Footer
    </RadzenFooter>
</RadzenLayout>
